In [3]:
print(1)
print(2)

1
2

In [6]:
print(3)

3

In [7]:
import pandas

In [11]:
df=pandas.read_csv("/home/jochoa/Documents/courses/PythonBasics/Files/temps_today.csv")
df

    st1   st2
0  23.3  22.1
1  24.0  23.1
2  22.1  20.2
3  19.1  16.8